version: '3'
services:
    app:
        build: .
        container_name: todo-app
        ports:
            - '3000:3000'
        restart: always
        depends_on:
            - mongo

    mongo:
        image: mongo
        container_name: mongodb
        ports:
            - '27017:27017'
